.venv
.env
infra/
external/
pararag/debug/
**/__pycache__

data/locomo/*
!data/locomo/locomo_sample_*
!data/locomo/locomo_samples_merged.json
!data/locomo/locomo10.json

results/locomo/*
!results/locomo/stats
!results/locomo/debug
results/locomo/debug/*
!results/locomo/debug/pararag_final_logs.json

!results/locomo/pararag_final_result.json
!results/locomo/pararag_final_eval.json

!results/locomo/pararag_eval_deduplication_ablation.json
!results/locomo/pararag_eval_profile_ablation.json
!results/locomo/pararag_eval_decomposition_ablation.json

!results/locomo/pararag_result_deduplication_ablation.json
!results/locomo/pararag_result_profile_ablation.json
!results/locomo/pararag_result_decomposition_ablation.json
